.sidebar-link {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    border-radius: 0.5rem;
    transition: all 0.15s ease;
    width: 100%;
    padding: 0.375rem 0.5rem;
    text-decoration: none;
    color: var(--text-muted);
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: var(--background-step-2);
}

.sidebar-link.active {
    color: var(--text);
}

.sidebar-link.active .sidebar-link-icon {
    color: var(--primary-base);
}

.inner-sidebar-link.active .sidebar-link-icon {
    color: var(--primary-base);
}

.inner-sidebar-link {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    border-radius: 0.5rem;
    transition: all 0.15s ease;
    width: 100%;
    padding: 0.375rem 0.5rem;
    text-decoration: none;
    color: var(--text-muted);
}

.not-selected {
    display: block;
}

.selected {
    display: none;
}

.inner-sidebar-link:hover {
    background-color: var(--background-step-3);
}

.inner-sidebar-link.active {
    color: var(--text);
}

.inner-sidebar-link.active .sidebar-link-icon {
    color: var(--primary-base);
}

.inner-sidebar-link:hover {
    background-color: var(--background-step-3);
    cursor: pointer;
}

.inner-sidebar-folder-child-nodes {
    margin-left: 0.5rem;
    border-left: 2px solid var(--border);
}